<div id="content_detail" class="ui-corner-all">

<!-- 説明文 -->
<div id="content_list">
<%= t('activerecord.attributes.search.description_html') %><br />
<br />
<% if @category == 0 %>
  <%= t('activerecord.attributes.search.sub_description_html') %>
<% else %>
  <%= t('activerecord.attributes.search.detail_description_html') %>
<% end %>

<!-- 表のタイトル -->
<h2 id='classification_title'>
<% if params[:sub_category_number] %>
  <%= t('activerecord.attributes.search.detail_category') %>
<% elsif params[:category_number] %>
  <%= t('activerecord.attributes.search.category', 
    :category_number => @count_start / 100, 
    :category_name => t("activerecord.attributes.search.category#{@count_start / 100}_name")) %> 
  <%= t('activerecord.attributes.search.sub_category') %>
<% else %>
  <%= t('activerecord.attributes.search.category_list') %>
<% end %>
</h2>

<%= render 'category_block' %>

</div>
</div>
