<div id="content_detail" class="ui-corner-all">

<!-- 説明文 -->
<div id="content_list">
<%= t('activerecord.attributes.search.description_html') %><br />
<br />
<% if @sub_category_number %>
  <%= t('activerecord.attributes.search.detail_description_mobile_html', :all => t('activerecord.attributes.search.sub_category_all')) %>
<% elsif @category_number %>
  <%= t('activerecord.attributes.search.sub_description_mobile_html', :all => t('activerecord.attributes.search.category_all')) %>
<% else %>
  <%= t('activerecord.attributes.search.description_mobile_html') %>
<% end %>

<!-- 表のタイトル -->
<h2 id='classification_title'>
<% if @sub_category_number %>
  <% if @categories[@count_start] %>
    <%= "#{sprintf("%03d", @count_start)} #{@categories[@count_start].category}" %>
  <% else %>
    <%= "#{sprintf("%03d", @count_start)}" %>
  <% end %>
  <%= t('activerecord.attributes.search.detail_category') %>
<% elsif @category_number %>
  <%= t('activerecord.attributes.search.category', 
    :category_number => @count_start / 100, 
    :category_name => t("activerecord.attributes.search.category#{@count_start / 100}_name")) %> 
  <%= t('activerecord.attributes.search.sub_category') %>
<% else %>
  <%= t('activerecord.attributes.search.category_list') %>
<% end %>
</h2>

<%= render 'category_block' %>

</div>
</div>
